In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('Data\CustomerChurn.xlsx')

In [3]:
#Exploring the Data
df.head()

,LoyaltyID,Customer ID,Senior Citizen,Partner,Dependents,Tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,318537,7590-VHVEG,No,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,152148,5575-GNVDE,No,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,326527,3668-QPYBK,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,845894,7795-CFOCW,No,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,503388,9237-HQITU,No,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.describe()

           LoyaltyID       Tenure  Monthly Charges
count    7043.000000  7043.000000      7043.000000
mean   550382.651001    32.371149        64.761692
std    260776.118690    24.559481        30.090047
min    100346.000000     0.000000        18.250000
25%    323604.500000     9.000000        35.500000
50%    548704.000000    29.000000        70.350000
75%    776869.000000    55.000000        89.850000
max    999912.000000    72.000000       118.750000

In [5]:
df.shape

(7043, 21)

In [6]:
df.info

<bound method DataFrame.info of       LoyaltyID Customer ID Senior Citizen Partner Dependents  Tenure  \
0        318537  7590-VHVEG             No     Yes         No       1
1        152148  5575-GNVDE             No      No         No      34
2        326527  3668-QPYBK             No      No         No       2
3        845894  7795-CFOCW             No      No         No      45
4        503388  9237-HQITU             No      No         No       2
...         ...         ...            ...     ...        ...     ...
7038     810338  6840-RESVB             No     Yes        Yes      24
7039     230811  2234-XADUH             No     Yes        Yes      72
7040     155157  4801-JZAZL             No     Yes        Yes      11
7041     731782  8361-LTMKD            Yes     Yes         No       4
7042     353947  3186-AJIEK             No      No         No      66

     Phone Service    Multiple Lines Internet Service Online Security  ...  \
0               No  No phone service              DSL              No  ...
1              Yes                No              DSL             Yes  ...
2              Yes                No              DSL             Yes  ...
3               No  No phone service              DSL             Yes  ...
4              Yes                No      Fiber optic              No  ...
...            ...               ...              ...             ...  ...
7038           Yes               Yes              DSL             Yes  ...
7039           Yes               Yes      Fiber optic              No  ...
7040            No  No phone service              DSL             Yes  ...
7041           Yes               Yes      Fiber optic              No  ...
7042           Yes                No      Fiber optic             Yes  ...

     Device Protection Tech Support Streaming TV Streaming Movies  \
0                   No           No           No               No
1                  Yes           No           No               No
2                   No           No           No               No
3                  Yes          Yes           No               No
4                   No           No           No               No
...                ...          ...          ...              ...
7038               Yes          Yes          Yes              Yes
7039               Yes           No          Yes              Yes
7040                No           No           No               No
7041                No           No           No               No
7042               Yes          Yes          Yes              Yes

            Contract Paperless Billing             Payment Method  \
0     Month-to-month               Yes           Electronic check
1           One year                No               Mailed check
2     Month-to-month               Yes               Mailed check
3           One year                No  Bank transfer (automatic)
4     Month-to-month               Yes           Electronic check
...              ...               ...                        ...
7038        One year               Yes               Mailed check
7039        One year               Yes    Credit card (automatic)
7040  Month-to-month               Yes           Electronic check
7041  Month-to-month               Yes               Mailed check
7042        Two year               Yes  Bank transfer (automatic)

     Monthly Charges  Total Charges Churn
0              29.85          29.85    No
1              56.95         1889.5    No
2              53.85         108.15   Yes
3              42.30        1840.75    No
4              70.70         151.65   Yes
...              ...            ...   ...
7038           84.80         1990.5    No
7039          103.20         7362.9    No
7040           29.60         346.45    No
7041           74.40          306.6   Yes
7042          105.65         6844.5    No

[7043 rows x 21 columns]>

In [7]:
df.dtypes

LoyaltyID              int64
Customer ID           object
Senior Citizen        object
Partner               object
Dependents            object
Tenure                 int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges         object
Churn                 object
dtype: object

In [8]:
df_dup = df[df.duplicated()]
df_dup

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [9]:
df.nunique()
#Every Customer has a unique customer ID but there are som duplicate Loyalty IDs

LoyaltyID            7021
Customer ID          7043
Senior Citizen          2
Partner                 2
Dependents              2
Tenure                 73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
Churn                   2
dtype: int64

In [10]:
df_dup_loy= df[df.duplicated(['LoyaltyID'], keep=False)]
df_dup_loy.sort_values(by='LoyaltyID', inplace=True)
df_dup_loy

<ipython-input-10-b6f173b0931d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dup_loy.sort_values(by='LoyaltyID', inplace=True)

,LoyaltyID,Customer ID,Senior Citizen,Partner,Dependents,Tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
4059,107296,3415-TAILE,No,Yes,Yes,2,Yes,No,DSL,No,...,No,No,Yes,Yes,Month-to-month,No,Mailed check,65.70,134.35,Yes
4683,107296,9360-OMDZZ,No,No,No,24,Yes,Yes,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,94.10,2322.85,No
3831,157658,6946-LMSQS,Yes,Yes,No,25,Yes,Yes,Fiber optic,Yes,...,No,No,No,Yes,One year,Yes,Electronic check,89.05,2177.45,Yes
2295,157658,2672-DZUOY,No,No,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,25.15,25.15,Yes
6052,181463,2516-XSJKX,No,Yes,Yes,41,Yes,No,DSL,Yes,...,No,Yes,Yes,Yes,Two year,No,Electronic check,78.45,3126.45,No
4724,181463,5073-RZGBK,No,Yes,Yes,50,Yes,Yes,DSL,Yes,...,Yes,Yes,No,Yes,One year,Yes,Bank transfer (automatic),80.05,4042.2,No
4147,217416,3836-FZSDJ,Yes,Yes,No,71,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),24.85,1901,No
6346,217416,9661-MHUMO,Yes,Yes,Yes,1,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.25,49.25,Yes
1103,223958,7722-CVFXN,No,Yes,Yes,54,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,Yes,One year,Yes,Electronic check,105.20,5637.85,No
1898,223958,6689-TCZHQ,Yes,No,No,5,Yes,No,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Electronic check,78.95,378.4,Yes
6958,372220,3078-ZKNTS,No,Yes,Yes,13,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.75,246.7,No
5640,372220,5393-RXQSZ,No,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Electronic check,79.60,79.6,Yes
4835,374243,2360-RDGRO,No,Yes,No,65,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,104.25,6812.95,No
6312,374243,7055-VKGDA,No,No,No,54,Yes,No,Fiber optic,Yes,...,No,Yes,Yes,Yes,One year,Yes,Credit card (automatic),105.40,5643.4,Yes
812,464187,8098-TDCBU,No,Yes,No,42,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Electronic check,25.25,1108.2,No
111,464187,4549-ZDQYY,No,No,No,52,Yes,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Credit card (automatic),57.95,3042.25,No
2907,464256,0611-DFXKO,No,Yes,No,20,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Mailed check,89.00,1820.45,Yes
6471,464256,0859-YGKFW,No,Yes,Yes,18,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Bank transfer (automatic),20.05,345.9,No
4289,464631,2228-BZDEE,No,No,No,54,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.10,1079.45,No
5899,464631,9943-VSZUV,Yes,No,No,67,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,75.70,5060.85,No
255,527640,4111-BNXIF,No,Yes,Yes,67,No,No phone service,DSL,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Electronic check,59.55,4103.9,No
4612,527640,6723-CEGQI,No,No,Yes,65,No,No phone service,DSL,No,...,No,Yes,Yes,No,Two year,No,Mailed check,45.25,2933.95,No
6802,623327,5626-MGTUK,No,No,No,20,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),89.10,1879.25,No
4911,623327,8565-WUXZU,Yes,Yes,No,72,Yes,No,Fiber optic,Yes,...,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.80,6141.65,No
1107,707470,0971-QIFJK,No,Yes,No,69,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),24.25,1641.8,No
5201,707470,6202-JVYEU,No,No,No,9,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Electronic check,19.90,164.6,No
2430,750578,1821-BUCWY,No,No,No,30,Yes,No,DSL,Yes,...,Yes,No,No,No,Two year,Yes,Mailed check,55.65,1653.85,No
1471,750578,9777-WJJPR,No,Yes,No,31,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,No,Credit card (automatic),88.65,2683.2,No
2217,750665,0839-JTCUD,No,Yes,Yes,66,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),89.90,5958.85,No
5416,750665,8961-QDZZJ,No,Yes,Yes,57,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,One year,Yes,Electronic check,95.00,5535.8,No
4871,750739,6848-YLDFR,No,Yes,Yes,58,Yes,No,DSL,No,...,No,Yes,Yes,Yes,One year,Yes,Credit card (automatic),75.20,4300.8,No
5078,750739,9402-ROUMJ,No,Yes,Yes,67,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,No,Yes,One year,Yes,Bank transfer (automatic),100.25,6689,No
4781,758389,9814-AOUDH,No,No,No,53,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),19.50,1050.5,No
535,758389,5348-CAGXB,No,No,No,12,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Electronic check,89.55,1021.75,No
2625,789225,0880-FVFWF,No,No,No,56,Yes,Yes,Fiber optic,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,86.40,4922.4,No
4350,789225,1518-OMDIK,No,Yes,No,33,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),44.55,1462.6,No
2196,820634,6131-IUNXN,No,Yes,Yes,19,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.20,382.2,No
3889,820634,2592-HODOV,No,No,No,13,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.30,259.65,No
7025,842064,2823-LKABH,No,No,No,18,Yes,Yes,Fiber optic,No,...,Yes,Yes,No,Yes,Month-to-month,Yes,Bank transfer (automatic),95.05,1679.4,No
1570,842064,3070-FNFZQ,No,Yes,Yes,23,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.40,478.75,No
649,962480,3509-GWQGF,Yes,No,No,24,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Credit card (automatic),70.00,1732.6,No
5207,962480,9381-NDKME,Yes,Yes,No,24,No,No phone service,DSL,No,...,Yes,No,No,Yes,Month-to-month,Yes,Credit card (automatic),40.65,933.3,Yes
4839,980245,3070-DVEYC,Yes,No,No,7,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,73.75,545.15,Yes
80,980245,5919-TMRGD,No,No,Yes,1,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,79.35,79.35,Yes

In [11]:
df['Tenure'].nunique()

73

In [12]:
df.isnull().sum()

LoyaltyID            0
Customer ID          0
Senior Citizen       0
Partner              0
Dependents           0
Tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn                0
dtype: int64

In [13]:
df['Payment Method'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [14]:
df['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [15]:
df['Internet Service'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [16]:
df['Online Security'].unique()
#Check to see if this corresponds with Internet Service

array(['No', 'Yes', 'No internet service'], dtype=object)

In [17]:
df.loc[(df['Internet Service'] == 'No') & (df['Online Security'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [18]:
df['Online Backup'].unique()
#Check to see if this corresponds with Internet Service

array(['Yes', 'No', 'No internet service'], dtype=object)

In [19]:
df.loc[(df['Internet Service'] == 'No') & (df['Online Backup'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [20]:
df['Device Protection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [21]:
df.loc[(df['Internet Service'] == 'No') & (df['Device Protection'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [22]:
df['Tech Support'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [23]:
df.loc[(df['Internet Service'] == 'No') & (df['Tech Support'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [24]:
df['Streaming TV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [25]:
df.loc[(df['Internet Service'] == 'No') & (df['Streaming TV'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [26]:
df['Streaming Movies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [27]:
df.loc[(df['Internet Service'] == 'No') & (df['Streaming Movies'] != 'No internet service')]

Empty DataFrame
Columns: [LoyaltyID, Customer ID, Senior Citizen, Partner, Dependents, Tenure, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn]
Index: []

[0 rows x 21 columns]

In [28]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)